html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0px 0px;
    background-color: rgb(159, 105, 38);
}

.container {
  margin: auto 300px;
  background-color: bisque;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30;
  line-height: 2;
  color: black;
}

.text {
  padding: 10px 2em;
}

li {
  padding-left: 1em;
}

.img {
    height: 500px;
    width: auto;
    border-style: dotted;
    padding: 5px;
    margin: 20px;
    border-radius: 20px;
}
.heading {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    text-shadow: 2px 2px #8b4e03;
    color: rgb(234, 160, 65);
    background-color: white;
}

button {
    background-color: white;
    border: 2px solid black;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: block;
    width: 300px;
  }

.btn .home {
    background-color: white;
    border: 2px solid black;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: block;
    width: 300px;
  }  

button:hover {
    background-color:rgb(234, 160, 65);
    border: 2px solid rgb(234, 160, 65);
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display:block;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

a {
  text-decoration: none;
  width: auto;
  padding: 0px;
  margin: 0px auto;
}